body {
    background-color: #ffffff;
}
.header {
  display: flex;
  background-color: #ffffff;
  height: 60px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.header .title{
  color: #000000;
}
.main-container{
  margin: 20px 70px 0 70px;
}
.title {
  margin: 0 50px 0 70px;
  font-size: 24px;
  line-height: 60px;
}
.filter-bar {
  background: #fafafa;
  margin:20px 0;
  padding:10px;
  border-radius: 5px;
  display:flex;
  justify-content: space-between;
}
.menu-item {
    display: block;
    line-height: 60px;
    font-size: 16px;
    min-width: 100px;
    padding: 0 10px;
    color: #595959;
    text-align: center;
    cursor: pointer;
}

.menu-item.active{
    color: #1890ff !important;
    border-top:2px solid #1890ff;
    line-height: 50px;
}

.menu-item:hover{
    color: #1890ff !important;
}